@model LoanManagementSystem.Models.DisbursedDetails
@{
    ViewBag.Title = "LoanRecovery";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Loan Recovery Status</h2>


<div class="row">
    <form id="form_AVD_Shedule" action="ExportRecoveryStatus" method="post">


        <div class="form-group">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                @Html.Label("DISBURSED_DATE_FORM", "FORM DATE")
                @Html.EditorFor(model => model.DISBURSED_DATE_FORM, new { htmlAttributes = new { @id = "DISBURSED_DATE", @class = "form-control", @placeholder = "Disbursed Date*" } })
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                @Html.Label("DISBURSED_DATE_TO", "TO DATE")
                @Html.EditorFor(model => model.DISBURSED_DATE_TO, new { htmlAttributes = new { @id = "DISBURSED_DATE", @class = "form-control", @placeholder = "Disbursed Date*" } })
            </div>
         
        </div>
        <div class="form-group">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">

                @*<a href="@Url.Action("ExportAdvanceShedule")"> Report PDF </a>*@
                <input type="submit" class="btn btn-primary" id="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">




</script>

