<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">

    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>

    <script type="text/javascript" src="~/Content/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/scripts/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Content/scripts/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="~/Content/scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Content/scripts/jquery-ui.min.js"></script>
    <link type="text/css" href="~/Content/Scripts/jquery-ui.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/Scripts/jquery-ui.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/Ajaxloder.css" rel="stylesheet" />

    <style type="text/css">
        .error {
            color: red;
            font-size: 0.8em;
        }
    </style>

</head>
<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                @Html.ActionLink("Loan Managment System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>


                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/Content/assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">
                                        @Session["UserName"]
                                    </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                @Html.ActionLink("Logout", "LogOut", "Login", new { area = "" }, new { @class = "dropdown-item" })

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-1" aria-controls="submenu-1-1">Employee Managment</a>
                                            <div id="submenu-1-1" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        @Html.ActionLink("Employee List", "Index", "Employee", new { area = "" }, new { @class = "nav-link" })
                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fas fa-fw fa-table"></i>Loan schedule</a>

                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            @Html.ActionLink("Advance Initialization", "AdvanceInitialization", "Loan", new { area = "" }, new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("Advance Initialization Details", "AdvanceInitializationDetails", "Loan", new { area = "" }, new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("Genarate schedule", "Index", "LoansShedule", new { area = "" }, new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("Early Satlement", "EarlySatlementList", "Loan", new { area = "" }, new { @class = "nav-link" })
                                        </li>
                                    </ul>
                                </div>
                            </li>


                   

                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-table"></i>Salary Managment</a>

                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            @Html.ActionLink("Salary Process", "Index", "Salary", new { area = "" }, new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("Salary Delatis", "ShowSalary", "Salary", new { area = "" }, new { @class = "nav-link" })
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-fw fa-table"></i>Advance Re schedule</a>

                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            @Html.ActionLink("Re Shedule", "Index", "LoanRescheduled", new { area = "" }, new { @class = "nav-link" })
                                        </li>

                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Report</a>

                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            @Html.ActionLink("Generated Shedule", "GeneratedSheduleReport", "LoansShedule", new { area = "" }, new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("Payment Status Report ", "PaymentStatusReport", "LoansShedule", new { area = "" }, new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("Loan Balance Report ", "LoanBalance", "LoansShedule", new { area = "" }, new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("Get Disbursed and  Interest Balance Report ", "GetDisbursedAndPrincipalBalance", "LoansShedule", new { area = "" }, new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink(" Loan Recovery Status", "LoanRecovery", "LoansShedule", new { area = "" }, new { @class = "nav-link" })
                                        </li>

                                    </ul>
                                </div>
                            </li>

                            

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            &copy; @DateTime.Now.Year - This Dashboard by <a href="https://www.linkedin.com/in/ahmed-tanvir-46090184/">Tanvir</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="~/Content/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/Content/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/Content/assets/libs/js/main-js.js"></script>
</body>

</html>